@use '@styles/utils/variables.scss' as *;
@use '@styles/utils/mixins.scss' as *;

.users {
  position: relative;
  margin-top: 140px;
  @include flex(center, center, column);
  gap: 50px;

  &__error-message {
    position: absolute;
    @include flex(center, center);
    top: 50px;
    width: 100%;
    margin: auto;
    color: $color-red;
  }

  &__list {
    @include grid(20px, 1, minmax(328px, 1fr));
    justify-content: center;
    margin-inline: auto;
    @include respond-to($md) {
      grid-template-columns: repeat(2, minmax(344px, 1fr));
      gap: 16px;
    }
    @include respond-to($lg) {
      grid-template-columns: repeat(3, minmax(282px, 3fr));
      gap: 29px;
    }
    @include respond-to($xl) {
      grid-template-columns: (repeat(3, minmax(370px, 3fr)));
    }
  }
}
