@use '/src/styles/utils/variables.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;

.users {
  margin-top: 140px;
  text-align: center;

  &__list {
    @include grid(16px, 1, minmax(328px, 1fr));
    justify-content: center;
    margin-top: 50px;
    margin-inline: auto;
    @include respond-to($md) {
      grid-template-columns: repeat(2, minmax(344px, 1fr));
    }
    @include respond-to($lg) {
      grid-template-columns: repeat(3, minmax(282px, 3fr));
      gap: 29px;
    }
    @include respond-to($xl) {
      grid-template-columns: (repeat(3, minmax(370px, 3fr)));
    }
  }
}
