@use '@styles/utils/variables' as *;
@use '@styles/utils/mixins' as *;

.hero {
  @include flex(center, center);
  position: relative;
  background-image: url('../assets/images/pexels-alexandr-podvalny-1227513.jpeg');
  background-size: auto 164%;
  background-position: calc(50% - 10px) calc(100% + 3px);
  background-repeat: no-repeat;
  height: 500px;
  padding: 40px 16px;
  width: 100%;

  @include respond-to($md) {
    background-size: 342% 164%;
    background-position: calc(50% - 22px) calc(100% + 3px);
    padding: 89px 194px 88px;
  }

  @include respond-to($lg) {
    height: 650px;
    background-position: calc(50% - 30px) calc(100% + 4px);
    padding: 164px 322px 163px;
  }

  @include respond-to($xl) {
    background-size: 219% 262%;
    background-position: center calc(100% + 211px);
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  &__content {
    @include flex(center, center, column);
    text-align: center;
    color: $color-white;
    z-index: 20;
    max-width: 380px;

    p {
      margin-top: 21px;
    }
  }

  &__button {
    margin-top: 32px;
  }
}
