@mixin flex(
  $justify-content: flex-start,
  $align-items: center,
  $flex-direction: row,
  $flex-wrap: wrap
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-flow: $flex-direction $flex-wrap;
}

@mixin grid(
  $gap: 0,
  $cols-count: auto-fill,
  $size: auto,
  $justify-content: center
) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat($cols-count, $size);
  justify-content: $justify-content;
}

@mixin respond-to($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  border: 0;
}
