// colors
$primary-color: #f4e041;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;
$color-black: #000000de;
$color-white: #fff;

// text
$font-size-base: 16px;
$font-size-l: 2.5rem;
$line-height-base: 26px;
$line-height-l: 2.5rem;

// screen breakpoints
$sm: 360px;
$md: 768px;
$lg: 1024px;
$xl: 1240px;
