@use '@styles/utils/variables.scss' as *;
@use '@styles/utils/mixins' as *;

.header {
  background-color: $color-white;

  &__container {
    @include flex(space-between, center, nowrap);
    height: 60px;
  }

  &__nav {
    @include flex(space-between, center, nowrap);
    gap: 10px;

    .button {
      color: $color-black !important;
    }
  }
}
