.sign-up {
  @extend %container;
  @include flex(center, center, column);
  margin-top: 140px;
  &__heading {
    @extend %h1;
  }
}

.sign-up-form {
  position: relative;
  @include flex(center, flex-start, column);
  max-width: 380px;
  width: 100%;

  &__error-message {
    position: absolute;
    @include flex(center, center);
    top: 10px;
    width: 100%;
    margin: auto;
    color: $color-red;
  }

  &__no-positions-message {
    margin-top: 50px;
  }

  &__button-container {
    @include flex(center, center);
    width: 100%;
  }
  &__button {
    @extend %button;
    margin-top: 50px;
    margin-bottom: 100px;
    color: $color-black !important;

    &:disabled {
      background-color: $color-grey-200;
      color: $color-white !important;
      cursor: not-allowed;
    }
  }
}
